body, html {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

nav {
    display: flex;
    font-size: 20px;
}

.li {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: grey;
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    margin: 20px;
    border: 5px solid grey;
    max-width: 300px;
    
}

section > h2 {
    color: darkslategray;
}